.heroapp-container {
  width: 100%;
  position: relative;
  font-family: "Plus Jakarta Sans", serif;
  padding: 2.5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.hot-app {
  width: 100%;
  /* height: 708px; */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* background-color: red; */
}
.heroapp-heading {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}
.heroapp-heading > h4 {
  color: #0a0a0a;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.heroapp-heading > button {
  width: 6.31rem;
  height: 52px;
  border-radius: 100px;
  border: 1px solid #e4e9ec;
  padding: 1rem 1.25rem;
  gap: 0.5rem;
}

.hero-cards {
  width: 100%;
  /* height: 624px; */
  gap: 1.5rem;
  /* position: relative;
  top: 50px; */
  /* background-color: black; */
  display: flex;
}
.hero-main-card {
  position: relative;
  width: 28.5%;
  height: 624px;
  border-radius: 12px;
  gap:10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-main-card > img {
  width: 100%;
  height: 624px;
  object-fit: cover;
  display: block;
  border-radius: 12px;
  /* z-index: 1; */
}
.card-container {
  position: relative;
  top: -4rem;
  height: 48px;
  display: flex;
  padding: 0px 10px;
  
}
.card-container-left {
  /* width: 16.75rem; */
  height: 48px;
  gap: 0.75rem;
  display: flex;
}
.card-container-left > img {
  width: 3rem;
  height: 48px;
  border-radius: 12px;
}
.card-container-middle {
  /* width: 13rem; */
  /* height: 42px; */
  gap: 4px;
  color: #ffffff;
  overflow: hidden;
  /* background-color: blue; */
}
.card-container-middle > h2 {
  font-weight: 600;
  overflow: hidden;
  height: 20px;
  text-overflow: ellipsis;
  text-wrap: wrap;
  font-size: 1rem;
  line-height: 1.25rem;
}
.card-container-middle > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.card-container > button {
  width: 4.5rem;
  height: 42px;
  border-radius: 100px;
  padding:12px 16px;
  gap: 0.5rem;
  background-color: #0a0a0a;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.12rem;
}
.gradient{
  width: 100%;
  background: var(--Linear-Purple, linear-gradient(180deg, rgba(116, 70, 211, 0.00) 0%, #7343D6 53.66%));
  position:absolute;
  bottom: 58px;
  /* top: 26.5rem; */
  border-radius: 12px;
  height: 141px;
}
.gradient-secondary-upper{
  width: 100%;
  background: var(--Linear-Blue, linear-gradient(180deg, rgba(60, 192, 255, 0.00) 0%, #3CC0FF 76.6%));
  top: 15.5rem;
  /* bottom: 0px; */
}
.hero-secondary-card {
  /* width: 52.81%; */
  /* height: 734px; */
  gap: 1.5rem;
  display: grid;
  color: #ffffff;
  /* background-color: blue;  */
}
.gradient-secondary-down1{
  background: var(--Linear-Black, linear-gradient(180deg, rgba(31, 35, 56, 0.00) 0%, #1F2338 58.48%));
  bottom: 0px;
  width: 34.5%;
}
.gradient-secondary-down2{
  background: var(--Linear-Green, linear-gradient(180deg, rgba(174, 205, 151, 0.00) 0%, #AECD97 58.48%));
  bottom: 0px;
  width: 34.6%;
}
.secondary-card-one {
  /* display: flex; */
  width: 52.81rem;
  height: 389px;
  border-radius: 12px;
  gap: 0.62rem;
  position: relative;
}

.secondary-card-one > img {
  width: 52.81rem;
  height: 300px;
  border-radius: 12px;
}
.secondary-card-container {
  width: 49.43rem;
  height: 48px;
  display: flex;
  position: absolute;
  justify-content: space-between;
  margin: auto;
  top: 240px;
  left: 1.5rem;
}

.secondary-card-container > button {
  width: 4.5rem;
  height: 42px;
  border-radius: 100px;
  padding: 0.75rem 1rem;
  gap: 8px;
  background-color: #0a0a0a;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  border: none;
  outline: none;
}
.secondary-card-container-left {
  display: flex;
  gap: 0.75rem;
}
.secondary-card-container-middle > img {
  width: 3rem;
  height: 48px;
  border-radius: 12px;
}
.secondary-card-container-middle > h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.secondary-card-container-middle > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.secondary-card-other {
  width: 52.81rem;
  height: 300px;
  gap: 24px;
  /* background-color: red; */
  display: flex;
}
.seconadry-card-other-one {
  border-radius: 12px;
  overflow: hidden;
}
.secondary-card-other-one > img {
  width: 25.6rem;
  height: 300px;
  border-radius: 12px;
  object-fit: cover;
}
.cardchange {
  width: 23.43rem;
  position: relative;
  top: -70px;
  left: 0px;
}

/* -----------------------------------media queries------------ */
/* Mobile (portrait) */
@media (max-width: 480px) {
  .heroapp-container {
    width: 100%;
    /* height: 0px; */
    gap: 4rem;
    padding: 0rem 1.75rem;
  }
  /* .hot-app {
    padding: 2rem 0rem;
  } */

  .heroapp-heading > h4 {
    color: #0a0a0a;
    font-size: 1.15rem;
    font-weight: 700;
    line-height: 1.5rem;
  }
  .heroapp-heading > button {
    width: 5.81rem;
    height: 44px;
    padding: 0.75rem 1rem;
  }
  .hero-cards,
  .hero-main-card {
    display: flex;
    height: 300px;
  }

  .hero-main-card > img {
    position: relative;

    top: -60px;
    left: -55px;
  }
  .hero-secondary-card {
    display: none;
  }
}

/* Mobile (landscape) */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Tablet and Laptop */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Desktop */
@media (min-width: 1024px) and (max-width: 1280px) {
}

/* Larger desktops */
@media (min-width: 1280px) {
}
